body{
    background: url("bg_desktop.png");
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-color: rgba(255, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
    font-family: serif;
}

.mainflex{
    display: flex;
    margin: 6% auto;
    justify-content: space-evenly;
    align-items: center;
}

#left{
    align-self: center;
    width: 30%;
    flex-basis: auto;
}

#right{
    width: 35%;
    flex-basis: auto;
}

.rt{
    background-color: rgb(98, 27, 165);
    border-radius: 10px;
    padding: 3%;
    margin: 5% 0%;
    text-align: center;
}

#free{
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
}

.rb{
    background-color: white;
    border-radius: 10px;
    padding: 5%;;
    width: auto;
}

div h1{
    font-size: 300%;
}

div p{
    padding: 5px;
    font-size: 100%;
    line-height: 150%;
}

#form{
    display: grid;
    /* grid-template-columns: auto; */
    grid-template-rows: auto auto auto auto auto;
}

#firstname, #lastname, #mail, #password, #button{
    padding: 3%;
    margin: 3%;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}

#firstname::placeholder, #lastname::placeholder, #mail::placeholder, #password::placeholder, #button::placeholder{
    color: black;
}

#button{
    background-color: rgb(8, 196, 139);
    color: white;
    font-weight: 600;
}

footer p{
    color: grey;
    font-size: 70%;
    text-align: center;
    margin: 0px;
}

footer a{
    color: rgba(168, 35, 35, 0.8);
    text-decoration: none;
    font-weight: 700;
}